<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>biaoqingdi</string>
		<key>desc</key>
		<string>001</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wangba</string>
		<key>desc</key>
		<string>002</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bingli</string>
		<key>desc</key>
		<string>003</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>chiniupa</string>
		<key>desc</key>
		<string>004</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>danteng</string>
		<key>desc</key>
		<string>005</string>
	</dict>
</array>
</plist>
